@import '../node_modules/systematize/addons/hyperlink';
@import '../node_modules/systematize/addons/utils';
@import 'colors';

body {
    background-color: $color-background;
    color: $color-copy;
}

p, pre, ol, ul {
    @include font-smoothing-antialiased;
}

a {
    @include sa-hyperlink($color-link, $color-background);
}

header p, footer p {
    font-style: italic;
}

h5 {
    opacity: 0.8;
}

h6 {
    opacity: 0.6;
}

textarea {
    background-color: $color-background;
    color: inherit;
    resize: none;
}

code {
    background-color: $color-light-grey-1;
    border: 1px solid $color-light-grey-2;
    border-radius: 3px;
    padding: 0.2em 0.4em;
}

pre code {
    background-color: $color-background;
    border: 0;
    border-radius: 0;
    padding: 0;
}

hr {
    background-color: $color-light-grey-2;
    border: 0;
    height: 0.25em;
}
