@import 'colors';
@import 'utils';

:focus {
    outline: 3px solid $color-focus-solid;
    outline: 3px solid $color-focus;
    outline-offset: 1px;
}

body {
    background-color: $color-background;
    color: $color-copy;
}

p, pre, ol, ul {
    @include font-subpixel-off;
}

header p, footer p {
    font-style: italic;
}

button, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.58;
}

textarea {
    background-color: $color-background;
    color: inherit;
    resize: none;
}

code {
    background-color: $color-light-grey-1;
    border: 1px solid $color-light-grey-2;
    border-radius: 3px;
    padding: 0.2em 0.4em;
}

pre code {
    background-color: $color-background;
    border: 0;
    border-radius: 0;
    padding: 0;
}
