// https://codepen.io/mvasilkov/pen/aGmLJP
@import 'colors';

$btn-width: 100px;
$btn-height: 100px;

.btn, .btn::after {
    -webkit-animation: btn-ani 16s infinite alternate;
    animation: btn-ani 16s infinite alternate;
    background: linear-gradient(-0.79rad, $color-heading-1, $color-heading-2);
    background-size: 300%;
    border-radius: $btn-height * 0.5;
    display: block;
    height: $btn-height;
    width: $btn-width;
}

.btn {
    color: rgba(255, 255, 255, 0.9);
    font-size: 30px;
    line-height: $btn-height;
    position: relative;
    text-align: center;
}

.btn::after {
    content: '';
    -webkit-filter: blur(30px);
    filter: blur(30px);
    opacity: 0.9;
    position: absolute;
    top: $btn-height * 0.3;
    z-index: -1;
}

// Microsoft Edge
@supports (-ms-ime-align: auto) {
    .btn::after {
        display: none;
    }
}

.btn:focus {
    outline: 0;
    text-decoration: underline;
    text-underline-position: under;
}

button.btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    padding: 0;
}

@-webkit-keyframes btn-ani {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}

@keyframes btn-ani {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}
