@import 'colors';

.editor .wrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100vw;
}

.editor textarea {
    border: 0;
    box-sizing: border-box;
    font-size: 18px;
    height: 100%;
    min-width: 200px;
    width: 700px;
}

.editor .btn {
    bottom: 40px;
    position: absolute;
    right: 40px;
    transform: scale(0.75);
    transform-origin: bottom right;
}

.page.show-warning article {
    margin-top: 64px;
}

@media all and (max-width: 767px) {
    .page.show-warning article {
        margin-top: 60px;
    }
}

.warning {
    background-image: linear-gradient($color-warning-1, $color-warning-2);
    border-bottom: 1px solid $color-warning-border;
    left: 0;
    overflow: hidden;
    padding: 15px 0;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 100vw;
}

.warning-close {
    cursor: pointer;
    position: absolute;
    right: 10px;
}

// Same as h1-6:first-child
.warning + h1, .warning + h2, .warning + h3, .warning + h4, .warning + h5, .warning + h6 {
    margin-top: 0;
}
