.editor form {
    text-align: right;
}

.editor textarea {
    box-sizing: border-box;
    font-size: 18px;
    min-height: 10em;
    vertical-align: bottom;
    width: 100%;
}

.editor .btn {
    bottom: 40px;
    position: absolute;
    right: 40px;
    transform: scale(0.75);
    transform-origin: bottom right;
}
