.editor-form {
    text-align: right;
}

.editor {
    box-sizing: border-box;
    font-size: 18px;
    min-height: 10em;
    vertical-align: bottom;
    width: 100%;
}

.editor-form input[type='submit'] {
    margin-top: 21px;
}
