$color-background: #fff;
$color-copy: #303030;
$color-heading: #404040;
$color-secondary: #808080;
$color-light-grey-1: #fafafa;
$color-light-grey-2: #e8e8e8;
$color-modal-background: rgba(0, 0, 0, 0.6);
$color-modal-copy: #fff;

// Based on https://nextjs.org
$color-link: #0076ff;

// Based on GitHub
$color-warning-1: #feefae;
$color-warning-2: #fae692;
$color-warning-border: #b3a569;

// https://uigradients.com/#DayTripper
$color-heading-1: #f857a6;
$color-heading-2: #ff5858;
$color-heading-fallback: mix($color-heading-1, $color-heading-2);
