{% extends 'base.html' %}

{% block title %}I specifically requested the opposite of this{% endblock %}

{% block class %}editor{% endblock %}

{% block content %}
    <form action="/p" method="post">
        <div class="wrapper">
            <input type="hidden" name="token" value="{{ token }}">
            {% if secret %}
                <input type="hidden" name="secret" value="{{ secret }}">
            {% endif %}
            <textarea name="contents" cols="80" rows="20" autofocus>{{ contents }}</textarea>
            <button type="button" class="btn btn-save">Save</button>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script src="/static/utf8.js"></script>
    <script src="/static/editor.js"></script>
{% endblock %}
