{% extends 'base.html' %}

{% block title %}I specifically requested the opposite of this{% endblock %}

{% block class %}editor{% endblock %}

{% block content %}
    <form action="/p" method="post">
        <div class="wrapper">
            <input type="hidden" name="token" value="{{ token }}">
            <textarea name="contents" cols="80" rows="20" autofocus></textarea>
            <button class="btn">Save</button>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script src="/static/editor.js"></script>
{% endblock %}
