{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block class %}page {% if change %}show-warning{% endif %}{% endblock %}

{% block content %}
    {% if change %}
        <div class="warning">
            <div class="warning-close">×</div>
            <div class="container">
                Save the link to <a href="{{ change }}">edit this page</a>
            </div>
        </div>
    {% endif %}
    {{ contents }}
    <!--
    created: {{ created | pubdate }}
    updated: {{ updated | pubdate }}
    -->
{% endblock %}

{% block script %}
    <script src="/static/reader.js"></script>
{% endblock %}
